.basketList > img {
  max-height: 100px;
  width: 70%;
  object-fit: contain;
  margin-bottom: 5px;
}
.basketItem__info {
  height: 100px;
  margin-bottom: 10px;
}

.basketList > button {
  background: whitesmoke;
  border: 1px solid;
  margin-top: 5px;
  color: darkolivegreen;
}
