.home_main_image {
  width: 100px;
  z-index: -1px;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
}

.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home_image {
  width: 100px;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
}
