.fullScreenOff {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  background-color: darkslategrey;
  transition: 1000ms;
}

.fullScreenOff svg {
  display: none;
}

.fullScreenOff.fullViewImage {
  display: none;
}

.fullScreenOn {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  transition: 1000ms;
}

.fullScreenOn.home {
  background-color: blue;
}

.fullScreenOn.fullViewImage {
  opacity: 1;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 50%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.fullScreenOn svg {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 5rem;
  height: 5rem;
  padding: 5px;
  color: green;
  cursor: pointer;
}

/*
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}*/
/*
.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -400px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
}
*/
