.login {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 40px;
}

.login__tag {
  margin-bottom: 10px;
}

.login__pass {
  height: 25px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__email {
  height: 25px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.signin__btn {
  background: darkolivegreen;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: black black olivedrab;
}
