.nav__bar {
  background: linear-gradient(90deg, rgb(0, 30, 10) 40%, rgba(10, 20, 25, 80%));
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.menu__icon {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
