.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.order_btn {
  background: aqua;
  display: flex;
  border: 1px solid;
  margin-top: 10px;
  border-color: cadetblue;
  color: blanchedalmond;
}
