.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  height: 400px;
  min-width: 100px;
  max-width: 900px;

  background-color: whitesmoke;
  z-index: 1;
}

.product__image {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.product_info {
  height: 100px;
}

.product > button {
  background: whitesmoke;
  border: 3px solid;
  margin-top: 10px;
  color: darkolivegreen;
}
